/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.container {
    max-width: 80%;
    margin: auto;
    /* background-color: aqua */
}

/* header */
.header {
    background-color: orchid;
    height: 140px;
    margin-bottom: 30px;
}

/* main  */
.first-section {
    background-color: khaki;
    height: 500px;
    margin-bottom: 30px;
}

.azzurro {
    background-color: lightblue;
}

.second-section-horizontal {
    height: 85px;
    background-color: lightblue;
}

.second-section {
    height: 585px;
    margin-bottom: 10px;
}

/* footer */
.footer {
    height: 60px;
    background-color: blueviolet;
}