/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.container {
    max-width: 80%;
    margin: auto;
    /* background-color: aqua */
}

/* header */
.header {
    background-color: orchid;
    height: 140px;
    margin-bottom: 30px;
}

/* main  */
.first-section {
    background-color: khaki;
    height: 500px;
    margin-bottom: 30px;
}

.azzurro {
    background-color: lightblue;
}

.second-section-horizontal {
    height: 85px;
    background-color: lightblue;
}

.second-section {
    height: 585px;
    margin-bottom: 10px;
    background-color: dodgerblue;
}

/* footer */
.footer {
    height: 60px;
    background-color: blueviolet;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.box-left  {
    float: left;
    width: calc((100% / 4) - 20px);
    margin: 25px 10px 10px 0px ;
}

.box-right {
    float: right;
    width: calc((100% / 4) - 20px);
    margin: 25px 0px 10px 10px; 

}

.box-center{
    width: calc(100% / 2);
    float: left;
    margin: 25px 10px 10px;
}


.box-left,.box-center,.box-right {
    background-color: lightblue;
    height: 538px;
}