/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.container {
    max-width: 85%;
    margin: auto;
    /* background-color: aqua */
}

/* header */
.header {
    background-color: orchid;
    height: 140px;
    margin-bottom: 30px;
}

.first-section {
    background-color: khaki;
    height: 500px;
}
